@import url('https://fonts.googleapis.com/css?family=Karla');

body {
	/*Font*/
    font-family: 'Karla',
    -apple-system,
    ".SFNSText-Regular",
    "San Francisco",
    "Roboto",
    "Segoe UI",
    "Helvetica Neue",
    "Lucida Grande",
    sans-serif;

    color:#333333;

    /*Styling*/
    background-color: #F8F8FF;
}