main {
    /*Positie Container Header Element, ijkpunt Linksboven*/
    position: absolute;
    top: 140px;
    left: 0;

    /*Grote van het het header element*/
    width: 100%;

    /*Styling*/
    margin: 30px auto;
    padding: 10px;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    /*align-items: center;*/
    justify-content: center;
    flex-direction: column;    
}

#index {
    /*Positie Container Header Element, ijkpunt Linksboven*/
    position: absolute;
    top: 140px;
    left: 200px;

    /*Grote van het het header element*/
    width: calc(100% - 200px);
}