main {
    /*Positie Container Header Element, ijkpunt Linksboven*/
    position: absolute;
    top: 140px;
    left: 200px;

    /*Grote van het het header element*/
    width: calc(100% - 200px);
    height: 100%;

    /*Styling*/
}