nav {
    /*Positie Container Header Element, ijkpunt Linksboven*/
    position: absolute;
    top: 180px;
    left: 0;

    /*Grote van het het header element*/
    width: 200px;

    /*Styling*/
}

nav a {
    /*Positie, block zorgt ervoor dat de elementen onder elkaar komen*/
    display: block;

    /*Styling*/
    padding: 10px 0 10px 20px;
}